<div class="container">
<div class="jumbotron">
    <h1>Browse For Movies</h1>
    <p>Search for a movie using the form below</p>
    <form (submit)="SearchMovies()">
      <input type="text" class="form-control" [(ngModel)]="searchString" name="searchString">
      <br>
      <button class="btn btn-primary btn-lg">Search</button>
    </form>
  
</div>

<div 
            infinite-scroll
            debounce
            [infiniteScrollDistance]="scrolldistance"
            [infiniteScrollThrottle]="throttle"
            (scrolled)="onScroll(searchString)">


<div *ngIf="searchResults">
 
    <div *ngFor="let movie of searchResults">
         
        
          <table border="1">
            <tr>
              <td class="col-md-3" id="border">
                <img *ngIf="movie.poster_path"  class="thumbnail" src="http://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
              </td>
              <td class="col-md-9">
                <h4><strong>{{movie.title}}</strong></h4>
                <p><strong>Rating: </strong>{{movie.vote_average}}</p>
                <p><strong>Overview:</strong> {{movie.overview}}
                <p><strong>ReleaseDate:</strong> {{movie.release_date}}</p>
                <p><strong>Genre:</strong> {{genreMethod(movie.genre_ids)}}</p>
                <a routerLink="/favourite" routerLinkActive="active"> Add to favourites</a>
              </td>
            </tr>
          </table>
          <br>
        </div>
      </div>
</div>
</div>
     


